---
import Layout from "../layouts/Layout.astro";
import Home from "./Home.svelte";

import { getI18N } from "../i18n";
const { currentLocale = "es" } = Astro;
const i18n = getI18N(currentLocale);
---

<Layout title="Congreso Poética">
  <div class="flex flex-col items-center">
    <Home client:load i18n={i18n} currentLocale={currentLocale} />
    <slot />
  </div>
</Layout>
