---
import Layout from '../layouts/Layout.astro';

import { getI18N } from '../i18n';
const { currentLocale = 'es' } = Astro
const i18n = getI18N(currentLocale);
---

<Layout title="Welcome to Astro.">
	<div class="mx-auto">
		Algo internacional de Algo
		<p>Este texto esta en {i18n.title}</p>
	</div>
</Layout>
