---
import Layout from "../layouts/Layout.astro";

import { getI18N } from "../i18n";
const { currentLocale = "es" } = Astro;
const i18n = getI18N(currentLocale);

let references = [
"Barbosa, Pl. A. (2023). The Dance of Pauses in Poetry Declamation. Languages, 8(1), 76. https://doi.org/10.3390/languages8010076", 
"Bernstein Ch. (a cura di) (1998). Close Listening: Poetry and the Performed Word, New York: Oxford University Press.",
"Byers, P. P. (1979). A formula for poetic intonation. Poetics, 8, 367–380.",
"Blohm, S., Versace, S., Methner, S., Wagner, V., Schlesewsky, M., & Menninghaus, W. (2022). Reading Poetry and Prose: Eye Movements and Acoustic Evidence. Discourse Processes, 59(3), 159–183. https://doi.org/10.1080/0163853X.2021.2015188",
"Colonna, V. (2021). Voices of Italian Poets. Analisi fonetica e storia della lettura della poesia italiana daglianni Sessanta a oggi. Tesi di Dottorato. Università di Genova-Torino.",
"Colonna, V. (2022). Voices of Italian Poets. Storia e analisi fonetica della lettura della poesia italiana del Novecento. Alessandria: Dell'Orso.",
"Jakobson, R. (1960). Closing statement: Linguistics and poetics. In Sebeok, Thomas A., ed. Style in Language. Cambridge, MA: MIT Press, 350–377.",
"MacArthur M., Zellou G. & Miller L. M. (2018). “Beyond Poet Voice: Sampling the (Non-) Performance Styles of 100 American Poets”. Journal of Cultural Analytics, April 18, 2018. DOI: 10.31235/osf.io/5vazx.",
"Mistrorigo A. (2018). Phonodia. La voz de los poetas, uso crítico de sus grabaciones y entrevistas. Venezia: Ca’ Foscari.",
]
---


<Layout title={i18n.header.bibliography}>
    
    <div class="flex flex-col items-center mx-auto my-10 lg:my-20 w-[88%] lg:w-[65%] max-w-5xl">
        <p class="mb-10 text-2xl font-semibold">{i18n.header.bibliography}</p>
        <ul class="list-disc flex flex-col pl-8 text-xl font-light text-justify gap-5">
            {references.map((text) => <li>{text}</li>)}
          </ul>
    </div>
</Layout>