---
import Details from "./Details.svelte";
import Layout from "../layouts/Layout.astro";
import Home from "./Home.svelte";

import { getI18N } from "../i18n";
const { currentLocale = "es" } = Astro;
const i18n = getI18N(currentLocale);
---

<Layout title="Congreso Poética">
  <div class="flex flex-col items-center">
    <h1 class="text-5xl font-semibold">Tu declaración de interés fue recibida!</h1>
    <Details/>
  </div>
</Layout>
